.all{
    background-image: url(./images/Fond-time.png);
    text-align: center;
    background-size: cover;
    height: 100%;
}
.nindo{
    padding-bottom: 10%;
    padding-top: 8%;
}
.card{
    margin-left: 20%;
    margin-right: 20%;
}
.dropdown-menu{
    text-align: center;
}

body {
    margin: 0;
}

.nav-acceuil {
    background-color: #1A2D34;
}

.btnPink {
    background-color: #ED008C;
    border-radius: 35px !important;
}

.acceuil {
    background-color: #1A2D34;
    height: 50ex;
}

.acceuil .description {
    color: white;
}

.acceuil img {
    width: 100%;
}

.acceuil .row {
    padding-left: 17%;
}

.blocInfo {
    margin: 8%;
    height: 24ex;
}

.info {
    float: left;
    width: 32%;
    padding-left: 3%;
}
.info2{
    text-align: center;
}
#navbarNavDropdown {
    display: block !important;
    float: right;
}
.btnPink{
    background-color: #ED008C !important;
}

.profileAcceuil{
    width: 8%;
    border-radius: 100%;
}
.video {
    background-color: #1A2D34;
    color: white;
    height: 50ex;
}

.video h3 {
    text-align: center;
    padding-top: 10%;
}

.video img {
    border-radius: 100%;
    width: 3%;
}

.sponsor {
    background-color: #D10171;
    height: 500px;
    text-align: center;
    border-bottom-right-radius: 200% 75%;
    border-bottom-left-radius: 200% 75%;

}

.sponsor img {
    width: 15%;
}

.marque p {
    margin-left: 5%;
    margin-top: 3%;
    background-color: white;
    width: 19%;
    float: left;
}

.respon_mar p {
    margin-left: 5%;
    margin-top: 3%;
    background-color: white;
    width: 19%;
    float: left;
}

span.pseudo {
    display: block;
    font-weight: bold;
}
span.titreQuestion {
    display: block;
}
span.nomCategorie {
    display: block;
}
span.sujetQuestion {
    display: block;
}

.faq {
    margin: auto;
    font-family: sans-serif;
    font-size: 40px;
}

.ask {
    margin: auto;
    font-family: sans-serif;
}

.blockfaq {
    text-align: center;
}

.footer {
    background-color: #1a2d34;
    width: 100%;
    padding-bottom: 10px;
    height: 200px;
}

.footer img{
    float: right;
    padding-right: 100px;
    padding-top: 120px;
}
.infooter {
    font-family: sans-serif;
    font-size: 12px;
    border-top: solid #8a8a90;
}
.footer p {
    padding-top: 110px;
    color: #8a8a90;
    font-family: sans-serif;
    font-size: 12px;
    float: left;
    padding-left: 100px;
}

.footer hr {
    border-top: solid 1px gray;
    padding-top: 120px;
}

.vale {
    width: 100%;
    height: 50px;
    background: white;
    border-bottom-right-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
    float: left;
}

.ques {
    margin: auto;
    font-family: sans-serif;
    background-color: #f8f9fd;
    width: 370px;
    height: 30px;
    padding-top: 15px;
}