body {
    margin: 0;
}

.nav-acceuil {
    background-color: #1A2D34;

}

.btnPink {
    background-color: #ED008C;
    border-radius: 35px !important;
    color: white;
}

#navbarNavDropdown {
    float: right;
}

.acceuil {
    background-color: #1A2D34;
    height: 50ex;
    height: 91ex;
    border-bottom-right-radius: 200% 75%;
    border-bottom-left-radius: 200% 75%;
}
.posAcceuil{
    padding-top: 9%;
}

.acceuil .description {
    color: white;
}

.acceuil img {
    width: 100%;
}

.acceuil .row {
    padding-left: 17%;
}

.blocInfo {
    margin: 8%;
    height: 24ex;
}

.info {
    float: left;
    width: 32%;
    padding-left: 3%;
}
.info2{
    text-align: center;
}

.profileAcceuil{
    width: 8%;
    border-radius: 100%;
}

.video {
    background-color: #1A2D34;
    color: white;
    height: 50ex;
}

.video h3 {
    text-align: center;
    padding-top: 10%;
}

.video img {
    border-radius: 100%;
    width: 3%;
}

.sponsor {
    background-color: #D10171;
    height: 500px;
    text-align: center;
    border-bottom-right-radius: 200% 75%;
    border-bottom-left-radius: 200% 75%;

}

.sponsor img {
    width: 15%;
}

.marque p {
    margin-left: 5%;
    margin-top: 3%;
    background-color: white;
    width: 17%;
    float: left;
}

.marque2 p {
    margin-left: 8%;
    margin-top: 2%;
    background-color: white;
    width: 21%;
    float: left;
}
.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: 1px solid lightgrey;
    font-family: sans-serif;
}

.active, .collapsible:hover {
    background-color: #555;
    color: white;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 77%;
    margin: auto;
}

li {
    margin-bottom: 20px;
    list-style: none;
    font-family: sans-serif;
}

.faq {
    margin: auto;
    font-family: sans-serif;
    font-size: 40px;
}

.ask {
    margin: auto;
    font-family: sans-serif;
}

.blockfaq {
    text-align: center;
}

.footer {
    background-color: #1a2d34;
    width: 100%;
    padding-bottom: 10px;
    height: 200px;
}

.footer img{
    float: right;
    padding-right: 100px;
    padding-top: 120px;
}
.infooter {
    font-family: sans-serif;
    font-size: 12px;
    border-top: solid #8a8a90;
}
.footer p {
    padding-top: 110px;
    color: #8a8a90;
    font-family: sans-serif;
    font-size: 12px;
    float: left;
    padding-left: 100px;
}

.footer hr {
    border-top: solid 1px gray;
    padding-top: 120px;
}

.vale {
    width: 100%;
    height: 50px;
    background: white;
    border-bottom-right-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
    float: left;
}

.ques {
    margin: auto;
    font-family: sans-serif;
    background-color: #f8f9fd;
    width: 370px;
    height: 30px;
    padding-top: 15px;
}
.mobile{
    display : none;
}
@media (max-width: 900px){
    .col-5 {
        flex: none;
        width: 100%;
    }
    .acceuil .row {
        padding-left: 0%;
    }
    .acceuil{
        text-align: center;
    }
    .info{
        width: 91%;
        padding-left: 9%;
    }
    .blocInfo{
        height: 55ex;
    }
    .btnPink{
        border-radius: 0px !important;
    }
    .video h3 {
        padding-top: 43%;
    }
    .info2 img{
        width: 100%;
    }
    .info2 .col {
        flex: none;
    }
    .blockquote p{
        font-size: 57%;
    }
    .blockquote img{
        width: 13%;
    }
    .mobile{
        display: block;
    }
    .ecran{
        display: none;
    }
    .info2{
        margin-bottom: 6%;
    }

    .marque p{
        width: 26%;
    }
    .respon_mar p {
        margin-left: 36%;
    }
    .footer p {
        padding-left : 0%;
    }
    p{
        font-size: 76%;
    }
    .sponsor{
        height: 366px;
    }
}